<% include partials/_header %>

<div style="float: left;" class="container mt-5">
  <div>
    <div class="col-md-7">
      <div class="card-body">
        <form action="/add" method="POST">
          <div class="form-group">
            <input style="width: 795px; margin-left: -15px;" type="text" name="name" placeholder="... path"
              class="form-control" autofocus>
          </div>
          <button style="margin-left: -18px; background: rgb(155, 202, 85); color:#000;" type="submit"
            class="btn btn-primary">
            save path
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-9">
      <table style=" color: #000; font-size: 1.2rem; " class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>№</td>
            <td>Path</td>
            <td>Action with path</td>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(var i = 0; i < data.length; i++) { %>
          <tr>
            <td><%= (i + 1) %></td>
            <td><%= data[i].name %></td>
            <td>
              <a href="/tree/<%= data[i].id %>" class="btn btn-success">Get tree</a>
              <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
              <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div style="height: 100vh; display: inline-flex; margin-left: -230px; width: 45vw;">
  <% include partials/_tree_view %>
</div>
</div>



<% include partials/_footer %>