<% include partials/_header %>


<div style="float: left;">
  <div>

    <div class="card-body">
      <form action="/add" method="POST">
        <div class="form-group">
          <input style="width: 95vw; margin-left: -15px;" type="text" name="name" placeholder="... path"
            class="form-control" autofocus>
        </div>
        <button style="margin-left: -18px; background: rgb(155, 202, 85); color:#000;" type="submit"
          class="btn btn-primary">
          save path
        </button>
      </form>
    </div>

    <div class="table-container">
      <table style=" color: #000; font-size: 1.2rem; " class="table table-bordered table-hover" cellpadding="10">
        <thead class="row-md-12">
          <tr>
            <th width="2%">№ </th>
            <th width="50% class=" table-path">Path</th>
            <th width="30% class=" table-button">Action with path</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
          <% for(let i = 0; i < data.length; i++) { %>
          <tr>
            <td class="string"><%= (i + 1) %></td>
            <td class="string"><%= data[i].name %></td>
            <td class="table-button">
              <a href="/tree-view/<%= data[i].id %>" class="btn btn-success" target="tee_view">Get tree</a>
              <a href="/terminal-view/<%= data[i].id %>" class="btn btn-warning">Look in terminal</a>
              <a href="/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
              <a href="/delete/<%= data[i].id %>" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>



<% include partials/_footer %>